.App {
  text-align: center;
  animation: App-logo-spin infinite 1500s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}